@font-face {
  font-family: "Inter";
  font-weight: 100 900; /* For variable font, keep the range */
  src: url("../assets/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-weight: 400;
  src: url("../assets/fonts/InterDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-weight: 500;
  src: url("../assets/fonts/InterDisplay-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter Display";
  font-weight: 600;
  src: url("../assets/fonts/InterDisplay-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace";
  font-weight: 200 800; /* For variable font, keep the range */
  src: url("../assets/fonts/MonaspaceNeonVarVF.woff2") format("woff2");
}

/* #region -> Not relevant */

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-image {
  width: 320px;
  height: 160px;
  object-fit: cover;
  margin-top: 32px;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
}

.recipe-list {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.recipe-list > a,
.recipe-list > a:hover {
  color: var(--text-primary);
  font-size: 14px;
  font-weight: 500;
}

.recipe-card {
  display: inline-flex;
  flex-direction: column;
  border-radius: 6px;
  padding: 8px;
  transition: var(--animation);
}

.recipe-card:hover {
  background-color: #eeeff1;
  transition: var(--animation);
}

.card-image {
  width: 200px;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  border: 1px solid #e8e8e8;
}

.card-name {
  margin: 8px 0;
}

.recipe-title {
  margin: 40px 0 24px 0;
  justify-items: center;
}

.recipe-main {
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  max-width: fit-content;
}

.inner-recipe {
  width: 640px;
}

.tagline {
  line-height: 1.5;
}

.servings {
  margin: 32px 0px;
  display: flex;
  align-items: center;
}

.serving-label {
  margin-right: 12px;
}

.serving-counter {
  display: flex;
  align-items: center;
  background: #e9ecef;
  border-radius: 5px;
  border: 1px solid var(--border-default);
  shadow: var(--shadow-sm);
}

#serving-size {
  text-align: center;
  user-select: none;
}

.serving-counter > span {
  margin: 0 6px;
  width: 16px;
  font-size: 14px;
  font-weight: 500;
}

.separator {
  background: var(--border-default);
  height: 1px;
  width: 100%;
  margin-bottom: 32px;
}

.ingredients {
  margin: 40px 0px;
}

.updown {
  display: inline-flex;
  padding: 0.125rem 0.5rem;
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 500;
  border: none;
  line-height: 1.25rem;
  width: 24px;
  letter-spacing: -0.00406rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background: #ffffff;
  box-shadow:
    0px 0px 0px 0.5px #dfe1e4,
    0px 1px 3px 0.25px rgba(0, 0, 0, 0.08);
}

.updown:hover {
  color: var(--text-primary);
  background: #eeeff1;
  transition: 0.3s;
}

#arrow {
  margin-right: 4px;
}

.back-button {
  display: inline-flex;
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  color: var(--text-primary);
  font-size: 0.75rem;
  font-weight: 500;
  border: none;
  line-height: 1.25rem;
  letter-spacing: -0.00406rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.25rem;
  background: #ffffff;
  box-shadow:
    0px 0px 0px 0.5px #dfe1e4,
    0px 1px 3px 0.25px rgba(0, 0, 0, 0.08);
}

.back-button:hover {
  color: var(--text-primary);
  padding: 0.125rem 0.5rem 0.125rem 0.5rem;
  background: #eeeff1;
  transition: 0.3s;
}

.back-button:hover > #arrow {
  color: var(--text-accent);
  transition: 0.3s;
}

.measurement {
  font-weight: 600;
  display: inline-block;
  width: 60px;
}

ul {
  padding-left: 0px;
}

ul.directions-text > li {
  line-height: 1.5rem;
  margin-bottom: 12px;
}

/* Collapse bullet marker in ul only */
ul > li::marker {
  content: "";
  opacity: 0;
}

/* Reset browser style / defaults for ol */
ol {
  list-style-type: none;
  counter-reset: custom-counter;
  padding: 0px;
  margin: 0px;
}

ol li {
  margin-left: 32px;
  margin-bottom: 20px;
  line-height: 1.5;
}

/* Trageting numbers in an ol */
ol > li::before {
  content: counter(custom-counter) "";
  counter-increment: custom-counter;
  position: absolute;
  margin-left: -34px;
  margin-top: 2px;
  border: 1px solid var(--border-default);
  width: 20px;
  height: 20px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 4px;
  background-color: #e9ecef;
  color: #3a424a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 40px;
}

a {
  color: var(--text-link);
  text-decoration: none;
}

a:hover {
  color: #1e50c0;
}

/* Basic styling for the placeholder text */
input::placeholder {
  color: #90959d;
  opacity: 1;
}

.bullet-point li:first-child {
  color: red;
  text-transform: uppercase;
}

.bullet-point li:last-child {
  color: orange;
}

/* Styling for when the input is focused */
input:focus::placeholder {
  color: #90959d;
  opacity: 0;
}

.text-input {
  margin: 50px 0;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.input-header {
  color: var(--text-primary);
  font-weight: 450;
  margin-bottom: 6px;
}

.icon {
  position: relative;
  left: 10px;
  top: 26px;
  pointer-events: none;
}

.textfield {
  border-color: var(--border-default);
  border-style: none;
  border-width: 0px;
  border-radius: 4px;
  padding: 0.375rem;
  width: 25rem;
  display: flex;
  font-size: 13px;
  font-weight: 450;
  line-height: 1.25rem;
  letter-spacing: -0.00406rem;
  transition: var(--animation);
  box-shadow:
    0px 0px 0px 0.75px #dfe1e4,
    0px 1px 3px 0.25px rgba(0, 0, 0, 0.08);
}

.textfield:hover {
  border-width: 0px;
  transition: var(--animation);
  box-shadow:
    0px 0px 0px 0.75px #c8cbd0,
    0px 1px 3px 0.25px rgba(0, 0, 0, 0.08);
}

.textfield:active {
  border-width: 0px;
  outline: none;
  transition: var(--animation);
  box-shadow:
    0px 0px 0px 0.75px #c8cbd0,
    0px 1px 3px 0.25px rgba(0, 0, 0, 0.08);
}

.textfield:focus {
  border-width: 0px;
  outline: none;
  transition: var(--animation);
  box-shadow:
    0px 0px 0px 0.75px #c8cbd0,
    0px 1px 3px 0.25px rgba(0, 0, 0, 0.08);
}

.checkbox-group {
  margin-bottom: 50px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
}

.checkbox-container label {
  color: var(--text-primary);
  user-select: none;
}

.checkbox-container input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.checkbox-container label::before {
  content: "";
  border: 1px solid var(--border-default);
  border-radius: 4px;
  width: 12px;
  height: 12px;
  display: inline-flex;
  margin-right: 6px;
}

#cb1 {
  margin: 0px;
  width: 14px;
  height: 14px;
}

.checkbox-container label:hover::before,
.checkbox-container input[type="checkbox"]:hover + label::before {
  background: white;
}

.checkbox-container input[type="checkbox"]:checked + label::before {
  background: var(--text-accent);
  content: "\002713";
  font-size: 12px;
  font-weight: 700px;
  color: white;
  border: 1px solid var(--text-accent);
  padding-bottom: 2px;
}

.category-pill {
  display: inline-block;
  padding: 2px 6px;
  background-color: #e9ecef;
  color: var(--text-primary);
  text-decoration: none;
  border-radius: 4px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  box-shadow: 0px 0px 0px 0.5px rgba(58, 66, 74, 0.08) inset;
  transition: background-color 0.3s ease;
}

.category-pill:hover {
  color: var(--text-primary);
  background-color: #d8dde2;
}
/* #endregion */

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0px dashed fuchsia;
}

html {
  background: var(--bg-primary);
  font-family: "Inter", "Comic Sans MS", sans-serif;
}

body {
  margin-left: var(--sidebar-width);
  overscroll-behavior: contain;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
  position: relative;
}

#debug-outlines {
  position: fixed;
  top: 32px;
  right: 40px;
  background: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(6px);
  z-index: 80;
}

#debug-outlines:hover {
  position: fixed;
  top: 32px;
  right: 40px;
  background: rgb(230, 230, 230, 0.5);
  backdrop-filter: blur(6px);
  z-index: 80;
}

::selection {
  background: var(--text-selection);
}

/* #region keyboard shortcuts */
.kbd {
  border: 1px solid lch(86.5 0 282.863);
  box-shadow: lch(0 0 0 / 0.03) 0px 2px 0px 0px;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 500;
  width: 16px;
  height: 16px;
  line-height: 1.4;
  align-self: center;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  text-transform: capitalize;
}

.kbd-shortcut {
  margin-left: 8px;
  margin-right: -6px;
  display: flex;
  gap: 4px;
  align-content: center;
  background: lch(98.7 0 282.863 / 0.7);
  backdrop-filter: blur(12px);
}
/* #endregion */

/* #region navigation */
nav {
  display: flex;
  position: fixed;
  height: 100%;
  background: transparent;
  z-index: 96;
  width: var(--sidebar-width);
  left: 0;
  top: 0;
  padding: 16px;
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

.nav-text {
  display: block;
  padding: 6px 8px;
  border-radius: 6px;
  color: var(--text-primary);
}

.nav-text:hover {
  background: #dfe1e4;
  color: var(--text-primary);
}

.sidebar-content {
  display: flex;
  gap: 6px;
}
/* #endregion */

/* #region view */
.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  height: calc(100vh - 16px);
  border: 0.5px solid var(--border-default);
  border-radius: 6px;
  background: #ffffff;
  margin: 8px 8px 8px 0px;
  overflow-y: auto;
  position: relative;
  outline: 0px dashed fuchsia;
  scrollbar-width: none;
  padding-bottom: 50vh;
}

.centred-content {
  margin: 0 auto;
  max-width: 760px;
  position: relative;
  width: calc(100% - 72px);
  padding-top: 64px;
  outline: 0px dashed limegreen;
}
/* #endregion */

h1 {
  font-family: "Inter Display", "Comic Sans MS", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--text-primary);
}

h2 {
  font-family: "Inter Display", "Comic Sans MS", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: var(--text-primary);
}

button {
  box-sizing: border-box;
  height: 28px;
  user-select: none;
}

p {
  color: var(--text-primary);
  font-size: 0.9375rem;
  line-height: 1.5;
  font-weight: 425;
  overflow-wrap: break-word;
  text-wrap: pretty;
}

h1 + p {
  margin: 32px 0;
}

h2 + p {
  margin-bottom: 24px;
}

.main-icon {
  height: 32px;
  width: 32px;
  margin-bottom: 8px;
  color: var(--text-accent);
}

.codeblock {
  display: inline-flex;
  background: var(--component-hover);
  border: 1px solid var(--border-default);
  padding: 2px 4px 0px 4px;
  border-radius: 4px;
  font-family: "Monaspace";
  font-weight: 450;
  letter-spacing: 0.012em;
  font-size: 12px;
}

.filter-list,
buttons {
  display: flex;
  gap: 12px;
  margin-bottom: var(--section-margin);
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: wrap;
}

/* #region filterable */
.filterable {
  display: flex;
  gap: 1px;
  background: #f3f4f8;
  border: 1px solid var(--border-default);
  border-radius: 6px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  /* box-shadow: 0px 1px 2px 0.25px rgba(0, 0, 0, 0.06); */
}

.filterable > * {
  padding: 4px 8px;
  background: white;
  user-select: none;
  color: var(--text-primary);
  font-size: 12px;
  line-height: 20px;
  font-weight: 450;
  white-space: nowrap;
}

.filterable > *:first-child {
  padding-left: 10px;
  padding-right: 6px;
}

.filterable > *:nth-child(2) {
  color: #6b6f76;
}

.filterable > *:last-child {
  padding-left: 8px;
  padding-right: 8px;
  font-size: 11px;
}

.filter-data {
  display: flex;
  align-items: center;
}

.icon-housing {
  display: flex;
  margin-right: 2px;
}

.date-icon {
  color: #6b6f76;
  height: 12px;
  width: 12px;
  margin-right: 4px;
}

.coloured-ellipse {
  height: 8px;
  width: 8px;
  background: #02b17b;
  border-radius: 40px;
  margin-right: 6px;
  box-shadow: 0px 0px 0px 1.5px #ffffff;
}

.stacked-ellipse {
  display: flex;
  align-items: center;
}

.stacked-ellipse > .coloured-ellipse:first-child {
  background: #3c6ddd;
}

.stacked-ellipse > .coloured-ellipse:nth-child(2) {
  background: #f44e59;
  margin-left: -7px;
}

.stacked-ellipse > .coloured-ellipse:nth-child(3) {
  background: #f5b500;
  margin-left: -7px;
}

.filter-operator:hover,
.filter-data:hover,
.filter-remove:hover {
  background: #f3f4f8;
}

.filter-operator:active,
.filter-data:active,
.filter-remove:active {
  background: #eeeff1;
}
/* #endregion */

/* #region avatars & stacked avatars */
/* #region avatars */
.avatar-grouping {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--section-margin);
}

.avatar-list {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.avatar {
  border-radius: 400px;
  height: var(--avatar-size);
  width: var(--avatar-size);
  position: relative;
  user-select: none;
}

.avatar:after {
  content: "";
  border: clamp(1px, calc(var(--avatar-size) * 0.018), 2px) solid
    rgb(58, 66, 74, 0.16);
  border-radius: 400px;
  height: calc(var(--avatar-size));
  width: calc(var(--avatar-size));
  position: absolute;
  margin-left: calc(-1 * var(--avatar-size));
}

.avatar:before {
  content: "";
  position: absolute;
  height: calc(var(--avatar-size) * 0.2);
  width: calc(var(--avatar-size) * 0.2);
  z-index: 10;
  isolation: isolate;
  background: #02b17b;
  border-radius: 40px;
  right: calc(var(--avatar-size) * 0.05);
  bottom: calc(var(--avatar-size) * 0.05);
  box-shadow: 0px 0px 0px clamp(1.5px, calc(var(--avatar-size) * 0.045), 3px)
    #fff;
}

.avatar-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 400px;
}

.avatar-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--component-bg);
  border-radius: 400px;
  height: var(--avatar-size);
  min-width: var(--avatar-size);
  border: clamp(1px, calc(var(--avatar-size) * 0.018), 2px) solid
    rgb(58, 66, 74, 0.08);
}

.initials {
  color: var(--component-fg);
  font-size: calc(var(--avatar-size) * 0.36);
  line-height: 1;
  font-weight: 600;
  user-select: none;
}

.avatar-fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eeeff1;
  border-radius: 400px;
  height: var(--avatar-size);
  min-width: var(--avatar-size);
  border: clamp(1px, calc(var(--avatar-size) * 0.018), 2px) solid
    rgb(58, 66, 74, 0.08);
}

.svg-icon {
  height: calc(var(--avatar-size) * 0.4);
  width: calc(var(--avatar-wisizedth) * 0.4);
  color: #4f5359;
}
/* #endregion */

/* #region stacked */
.stacked-avatar-list {
  display: flex;
  margin-bottom: 24px;
}

.stacked-avatar {
  border-radius: 400px;
  height: var(--stacked-avatar-size);
  width: var(--stacked-avatar-size);
  outline: calc(var(--stacked-avatar-size) * 0.1) solid white;
  transition: 0.2s;
  position: relative;
  user-select: none;
}

.stacked-avatar:not(:first-child) {
  margin-left: clamp(-8px, -6px, -4px);
}

.stacked-avatar:hover {
  z-index: 10;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.24),
    0px 6px 16px -2px rgba(0, 0, 0, 0.24);
  transition: 0.2s;
}

.stacked-image {
  height: 100%;
  width: 100%;
  border-radius: 400px;
  object-fit: cover;
}

.stacked-avatar::before {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}

/* The stacked avatar tooltip */
.stacked-avatar:hover::before {
  content: attr(data-name);
  width: max-content;
  background: #fff;
  color: var(--text-primary);
  border: 0.5px solid #dfe1e4;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  transition: 0.4s;
  font-weight: 450;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.08);
}

.stacked-avatar-initials {
  border-radius: 400px;
  height: var(--stacked-avatar-size);
  width: var(--stacked-avatar-size);
  outline: calc(var(--stacked-avatar-size) * 0.1) solid white;
  transition: 0.2s;
  position: relative;
}

.stacked-avatar-initials:not(:first-child) {
  margin-left: clamp(-8px, -6px, -4px);
}

.stacked-avatar-initials:hover {
  z-index: 10;
  box-shadow:
    0px 2px 4px -1px rgba(0, 0, 0, 0.12),
    0px 6px 16px -2px rgba(0, 0, 0, 0.12);
  transition: 0.2s;
}

.stacked-avatar-initials {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f2e5ff;
  border-radius: 400px;
  height: var(--stacked-avatar-size);
  min-width: var(--stacked-avatar-size);
}

.stacked-initials {
  color: #662f9d;
  font-size: calc(var(--stacked-avatar-size) * 0.36);
  line-height: 1;
  font-weight: 600;
  user-select: none;
}

.stacked-avatar-initials::before {
  position: absolute;
  top: -6px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
}

/* The stacked avatar tooltip */
.stacked-avatar-initials:hover::before {
  content: attr(data-name);
  width: max-content;
  background: #fff;
  color: var(--text-primary);
  border: 0.5px solid #dfe1e4;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0.25rem 0.5rem;
  transition: 0.4s;
  font-weight: 450;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0.5px rgba(0, 0, 0, 0.08);
}
/* #endregion */
/* #endregion */

/* #region pills & tags */
.pills-tags {
  margin-bottom: var(--section-margin);
}

.pill-list {
  display: flex;
  gap: 8px;
  margin-bottom: 12px;
  overflow-x: auto;
  white-space: nowrap;
  flex-wrap: wrap;
  outline: 0px dashed fuchsia;
}

.pill-sm,
.badge-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding-left: 6px;
  background: var(--component-bg);
  padding-right: 6px;
  border: 0.5px solid rgb(0, 0, 0, 0.08);
  user-select: none;
}

.pill-label {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  margin: 0px;
  padding: 2px 0;
  color: var(--component-fg);
}

.badge-label {
  font-size: 11px;
  font-weight: 600;
  line-height: 12px;
  margin: 0px;
  padding: 4px 0;
  text-transform: uppercase;
  color: var(--component-fg);
  letter-spacing: 0.02em;
}

.pill-md,
.badge-md {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 8px;
  background: var(--component-bg);
  border: 0.5px solid rgb(0, 0, 0, 0.08);
  user-select: none;
}

.pill-label-md {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  margin: 0px;
  padding: 2px 0;
  color: var(--component-fg);
}

.badge-label-md {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  margin: 0px;
  padding: 4px 0;
  text-transform: uppercase;
  color: var(--component-fg);
  letter-spacing: 0.045em;
}
/* #endregion */

/* #region buttons */
.buttons {
  margin-bottom: var(--section-margin);
  display: flex;
  gap: 24px;
}

.button-default {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid var(--border-default);
  border-radius: 6px;
  transition: var(--animation);
  padding: 4px 12px 4px 8px;
  box-shadow:
    lch(0 0 0 / 0.02) 0px 4px 4px -1px,
    lch(0 0 0 / 0.06) 0px 1px 1px 0px;
}

.button-default:hover {
  background: #eeeff1;
  transition: var(--animation);
}

.button-primary {
  display: flex;
  align-items: center;
  background: #3c6ddd;
  border-radius: 6px;
  transition: var(--animation);
  padding: 4px 12px 4px 8px;
  border: none;
}

.button-primary:hover {
  background: #1e50c0;
  transition: var(--animation);
}

.button-ghost {
  display: flex;
  align-items: center;
  background: white;
  border-radius: 6px;
  transition: var(--animation);
  padding: 4px 12px 4px 8px;
  border: none;
}

.button-ghost:hover {
  background: #eeeff1;
}

.button-destructive {
  display: flex;
  align-items: center;
  background: #f44e59;
  border-radius: 6px;
  transition: var(--animation);
  padding: 4px 12px 4px 8px;
  border: none;
}

.button-destructive:hover {
  background: #b53434;
  transition: var(--animation);
}

.btn-leading,
.btn-trailing {
  color: var(--text-primary);
  display: flex;
}

.btn-leading-on-colour,
.btn-trailing-on-colour {
  color: white;
  display: flex;
}

.btn-leading {
  margin-right: 8px;
}

.btn-leading-on-colour {
  margin-right: 8px;
}

.btn-trailing {
  margin-left: 8px;
}

.btn-label-default {
  color: var(--text-primary);
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

.btn-label-on-colour {
  color: white;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

.icon-button-sm {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 4px;
  outline: var(--debug-outlines) dashed fuchsia;
}

.icon-button-sm:hover {
  background: var(--component-hover);
}

/* #endregion */

/* #region sidebar */
/* #region sidebar main */
.sidebar-container {
  display: flex;
  gap: 56px;
  margin-top: 40px;
}

.resizable-container {
  width: 220px;
  min-width: 220px;
  min-height: fit-content;
  max-width: 330px;
  resize: horizontal;
  overflow: auto;
  border: 0.5px solid var(--border-default);
  border-radius: 4px;
  padding: 12px 12px 48px 12px;
  background-color: white;
  margin-bottom: var(--section-margin);
}

.sidebar-header {
  margin: 0px 4px 8px 6px;
  line-height: 26px;
  user-select: none;
  font-weight: 500;
  letter-spacing: -1.5%;
}

.tst-sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: unset;
}

.tst-sidebar-item {
  display: flex;
  padding: 0.375rem 0.375rem 0.375rem 0.5rem;
  border-radius: 6px;
  outline: var(--debug-outlines) dashed fuchsia;
  cursor: default;
}

.tst-sidebar-item:hover {
  background: var(--component-hover);
}

.tst-sidebar-item:hover::before {
  content: "=";
  font-size: 13px;
  font-weight: 500;
  color: #6b6f76;
  margin-left: -19px;
  position: absolute;
}

.tst-sidebar-item:hover .item-remove {
  display: block;
}

.tst-sidebar-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
  position: relative;
}

.tst-sidebar-icon {
  margin-right: 6px;
  color: #90959d;
  flex-shrink: 0;
  outline: var(--debug-outlines) dashed orange;
}

.item-name {
  outline: var(--debug-outlines) dashed blue;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  user-select: none;
  flex: 1;
  color: var(--text-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.item-remove {
  flex-shrink: 0;
  display: none;
  outline: var(--debug-outlines) dashed orange;
  font-family: Inter;
  font-size: 11px;
  font-weight: 600;
  line-height: 20px;
  color: var(--text-primary);
  opacity: 0.7;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 4px;
  user-select: none;
}

.item-remove:hover {
  opacity: 1;
}

.dirty {
  height: 6px;
  width: 6px;
  left: 7px;
  top: 3px;
  background: #f6a351;
  border-radius: 40px;
  position: absolute;
  box-shadow: 0px 0px 0px 1.5px #ffffff;
}
/* #endregion */

/* #region sidebar fields */
.fld-sidebar-item {
  display: flex;
  padding: 0.375rem 0.5rem 0.375rem 0.625rem;
  border-radius: 6px;
  margin-bottom: 6px;
  outline: var(--debug-outlines) dashed fuchsia;
  cursor: grab;
  background: white;
  border: 0.5px solid var(--border-default);
  background-clip: padding-box;
  box-shadow:
    lch(0 0 0 / 0.02) 0px 3px 3px -1px,
    lch(0 0 0 / 0.06) 0px 1px 1px 0px;
}

.fld-sidebar-item:hover {
  background: #f8f9fb;
}

.fld-sidebar-item:active {
  background: var(--component-hover);
  cursor: grabbing;
}

.fld-sidebar-content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  min-width: 0;
  position: relative;
}

.fld-sidebar-item:hover + .fld-icon {
  margin-right: 8px;
  color: #000;
  flex-shrink: 0;
  outline: var(--debug-outlines) dashed orange;
}

.fld-icon {
  margin-right: 8px;
  color: #02b17b;
  flex-shrink: 0;
  outline: var(--debug-outlines) dashed orange;
}

.fld-item-name {
  outline: var(--debug-outlines) dashed blue;
  font-family: Inter;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  user-select: none;
  flex: 1;
  color: var(--text-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.fld-item-trailing {
  display: flex;
  flex-shrink: 0;
  outline: var(--debug-outlines) dashed orange;
  color: #4f5359;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding-left: 2px;
  padding-top: 2px;
  user-select: none;
}
/* #endregion */

/* #endregion */

/* #region view header */
.view-header-container {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px;
  border-bottom: 0.5px solid var(--border-default);
  margin-bottom: var(--section-margin);
}

.vh-leading-content {
  display: flex;
  align-items: center;
  gap: 12px;
  outline: var(--debug-outlines) dashed limegreen;
}

.input-wrapper {
  display: inline-block;
  margin-top: 4px;
  min-width: 10px;
}

.hidden-span {
  flex: 0;
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
  font-family: Inter;
  font-size: 15px;
  font-weight: 500;
  outline: var(--debug-outlines) dashed fuchsia;
}

.editable-text {
  display: inline-block;
  min-width: 10px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: text;
  font-family: Inter;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  outline: var(--debug-outlines) dashed fuchsia;
}

.editable-text:empty:before {
  content: attr(data-placeholder);
  color: #90959d;
}

.vh-trailing-content {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  outline: var(--debug-outlines) dashed fuchsia;
}

/* #endregion */

/* #region form card */

.menu-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 24px;
  width: 828px;
  min-width: 260px;
  min-height: fit-content;
  max-width: 1000px;
  resize: horizontal;
  overflow: auto;
  margin-bottom: var(--section-margin);
  padding-right: 8px;
  padding-bottom: 8px;
  border-style: dashed;
  border-color: var(--border-default);
  border-width: 0 1px 1px 0;
}

a.link-card {
  color: var(--text-primary);
  background: white;
  transition: var(--animation);
}

a.link-card:hover {
  color: var(--text-primary);
  background: #f8f9fb;
  transition: var(--animation);
}

.link-card {
  display: flex;
  flex-direction: column;
  padding: 8px 12px;
  gap: 12px;
  border-radius: 6px;
  background: white;
  border: 0.5px solid var(--border-default);
}

.link-card .icon-button-sm {
  flex-shrink: 0;
  display: none;
}

.link-card:hover .icon-button-sm {
  display: inline-flex;
}

.card-top {
  outline: var(--debug-outlines) dashed fuchsia;
  display: flex;
  gap: 6px;
  justify-content: space-between;
}

.card-details {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 0px; /* Ensures container fills the available space */
  outline: var(--debug-outlines) dashed fuchsia;
}

.form-name {
  font-family: Inter;
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: -0.015em;
  color: var(--text-primary);
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; /* Set a max width to allow truncation */
  flex: 1; /* Ensures name fills the available space */
  min-width: 0px;
  overflow: hidden;
  outline: var(--debug-outlines) dashed fuchsia;
}

.form-slug {
  font-family: Monaspace;
  font-size: 12px;
  line-height: 16px;
  font-weight: 450;
  color: #6b6f76;
  letter-spacing: -0.025em;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; /* Set a max width to allow truncation */
  flex-shrink: 1; /* Allow shrinking to enable ellipsis */
  overflow: hidden;
  outline: var(--debug-outlines) dashed fuchsia;
}

.card-bottom {
  display: flex;
  gap: 4px;
  justify-content: space-between;
  padding-top: 8px;
  border-top: 0.75px solid var(--border-default);
  outline: var(--debug-outlines) dashed blue;
}

.creator {
  display: flex;
  gap: 6px;
  align-items: center;
  min-width: 0px;
  outline: var(--debug-outlines) dashed fuchsia;
}

.link-card .avatar {
  height: 16px;
  width: 16px;
  outline: var(--debug-outlines) dashed fuchsia;
}

.link-card .avatar:after {
  height: 16px;
  width: 16px;
  margin-left: calc(-1 * 16px);
}

.avatar:before {
  display: none;
}

.created-by {
  font-family: Inter;
  font-size: 11px;
  line-height: 16px;
  font-weight: 450;
  color: #4f5359;
  padding-left: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%; /* Set a max width to allow truncation */
  flex: 1;
  min-width: 0px;
  overflow: hidden; /* Allow shrinking to enable ellipsis */
  outline: var(--debug-outlines) dashed fuchsia;
}

.created-on {
  font-family: Inter;
  font-size: 11px;
  line-height: 16px;
  font-weight: 450;
  color: #4f5359;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 4px;
  flex-shrink: 0;
  outline: var(--debug-outlines) dashed fuchsia;
}

/* #endregion */
