:root {
  --text-primary: #33353c;
  --text-accent: #3c6ddd;
  --text-link: var(--text-accent);
  --bg-primary: #f8f9fb;
  --text-selection: #f2e5ff;
  --border-default: #dfe1e4;
  --animation: 0.2s;
  --sidebar-width: 220px;
  --avatar-size: 56px;
  --stacked-avatar-size: 40px;
  --component-hover: #eeeff1;

  --component-bg: #e5eeff;
  --component-fg: #1e50c0;

  --section-margin: 80px;

  --debug-outlines: 0px;
}
